

<% total_budget = 0 %>
<% spend = 0 %>
<% budget_id = 0 %>

<!-- loop round @budgets because its an array of hashes-->
<% @budgets.each do |budget| %>
<% total_budget = budget.total_budget %>
<% budget_id = budget.id %>

<div class="headline-figures">

<div class="grid-row">
  <div class="cell1">Budget: </div>
  <div class="cell2"> £ <%= sprintf("%20.2f", budget.total_budget) %> </div>
</div>

<% end %>

<% @transactions.each do |transaction| %>
  <% spend = spend + transaction.amount %>
<% end %>

<div class="grid-row">
<div class="cell1">Total spend: </div>
<div class="cell2"> £ <%= sprintf("%20.2f", spend) %></div>

</div>




<div class="grid-row">
<div class="cell1">Amount Available: </div>

<% balance = (total_budget.to_f - spend.to_f) %>
<% bbr = (((total_budget.to_f - spend.to_f)/total_budget) * 100) %>
<div class="cell2"> £ <%= sprintf("%20.2f", balance) %></div>
</div>

</div>

<div class="balance-feedback">

<% if (bbr <= 0) %>
<p class="red"><%= "You've blown your budget again - call the IMF!" %></p>
<% elsif (bbr <= 5) %>
<p class="red"><%= "You've just got to stop spending ... you're running out of money!" %></p>
<% elsif (bbr <= 15) %>
<p class="orange"><%= "Take it easy ... you're getting close to your budget limit!" %></p>
<% elsif (bbr < 100) %>
<p class="green"><%= "Excellent job: your spending is safely under budget" %></p>
<% elsif (bbr == 100) %>
<p class="green"><%= "You havent spent anything yet!" %></p>
<% else %>
<p><%= "what is going on !!! I dont undertsand these figures" %></p>

  <% end %>

  </div>



<div class="dashboard-highlight-menu">

<p><a href="/transactions/new">Create new transaction</a></p>

<p><a href="/transactions">View all transactions</a></p>

<p><a href="/budgets/<%= budget_id %>/edit">Edit your budget</a></p>

<p><a href="/categories/manage">Manage categories</a></p>

</div>


<hr />

<div class="category-title">
<p>Spend by Category</p>
</div>

<div class="category-item">



<% @totals.each do |category| %>

<div class="grid-row">

<div class="cell category-font"><%=category['name'] %> </div>
 <div class="cell">£ <%=sprintf("%20.2f", category['sum'].to_f) %> </div>
 <div class="cell category-font">
 <form action="/categories/<%= category['id']%>">
     <input type="submit" value="view/edit transactions" />
 </form>
 </div>

 </div>

<% end %>
