<div class="head-result">

<% total_budget = 0 %>
<% spend = 0 %>
<% budget_id = 0 %>
<!-- loop round @budgets because its an array of hashes-->
<% @budgets.each do |budget| %>
<% total_budget = budget.total_budget %>
<% budget_id = budget.id %>
<p>Your budget is: £ <%= sprintf("%20.2f", budget.total_budget) %></p>
<% end %>

<% @transactions.each do |transaction| %>
  <% spend = spend + transaction.amount %>
<% end %>

<p>Your total spend is: £ <%= sprintf("%20.2f", spend) %></p>


<p>Amount remaining £ <%= sprintf("%20.2f", total_budget.to_f - spend.to_f) %></p>

<hr />

<p><a href="/transactions/new">Create new transaction</a></p>

<p><a href="/transactions">View all transactions</a></p>

<p><a href="/budgets/<%= budget_id %>/edit">Edit your budget</a></p>

<hr />

</div>

<p>Spend by category:</p>

<% @totals.each do |category| %>

<p><%=category['name'] %> : £ <%=sprintf("%20.2f", category['sum'].to_f) %> </p>

<a href="/categories/<%= category['id']%>">view or edit all transactions for <%=category['name'] %> </a>
<hr />

<% end %>

