<p>Transactions for <%= @category.name %></p>

<% @transactions.each do |transaction| %>

<% if transaction.category_id == @category.id %>

<p><%=transaction.merchant_name %> : £ <%= sprintf("%20.2f", transaction.amount) %> </p>


<form method="GET" action="/transactions/<%= transaction.id %>/edit">
  <input class="button" type="submit" value="Edit">
</form>


<form method="POST" action="/transactions/<%= transaction.id %>/delete">
  <input class="button" type="submit" value="Delete">
</form>

<hr />

<% end %>
<% end %>







